body {
  padding: 5%;
  transition-duration: 2s;
  scroll-behavior: smooth;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: auto;
}
#icon {
  height: 15%;
  width: 15%;
  /* float: right; */
  align-self: flex-end;
}

span {
  /* float: left; */
}
