{% extends 'base.html' %}
{% block title %}Login{% endblock title %}

{% block body %}
{% if error %}
<div  role="alert"class="alert alert-danger">{{error}}</div>
{% endif %}
<form action="{% url 'main:logged_in' %}" method="post">
{% csrf_token %}
<h1>Login</h1>
<div class="row g-1 align-items-center">
  <div class="col-auto">
<label class="has-text-weight-medium  has-text-centered is-size-5" for="username">Username</label>
<input class="form-control" aria-describedby="UsernameHelpInline" type="text" placeholder="Username" name="username" id="username" required>
  </div>
  </div>
</div>
<br>

<div class="row g-10 align-items-center">
  <div class="col-auto">
<label class="has-text-weight-medium  has-text-centered is-size-5" for="password">Password</label>
<input class="form-control" aria-describedby="passwordHelpInline" type="password" placeholder="Password" name="password" id="password" required>
  </div>
  </div>
</div>

<br><input class="btn btn-primary" type="submit" value="Login" required>

</form>
<br>
<a class="btn-link" href="{% url 'main:signup'%}">Don't have an account yet ? <br> Signup</a>

{% endblock body %}