{% extends 'base.html' %}
{% block title %}Sign Up{% endblock title %}

{% block body %}
  {% if error %}
  <h1 class="has-text-weight-bold   has-text-centered is-size-1">{{ error}}</h1>{% endif %}
<form action="{% url 'main:singed_up' %}" method="post">

{% csrf_token %}
<h1 class="has-text-weight-bold   has-text-centered is-size-1">Sign up</h1>

<label for="username" class="has-text-weight-medium  has-text-centered is-size-5">Username:</label>
<input name="username" id="username" type="text" placeholder="Enter your username" required>

<br><br><br>
<label class="has-text-weight-medium  has-text-centered is-size-5" for="password">Password:</label>
<input type="password" placeholder="Password" name="password" id="password">
<br><input type="submit" value="Login" required>

</form>
<a href="{% url 'main:login'%}">Already have an account, Login</a>

{% endblock body %}