{% extends 'base.html' %}
{% block title %}Transaction History{% endblock title %}
{% block body %}
<h1>Transaction History</h1>
<ul>
{% if transactions %}
    {% for transaction in transactions %}
   <li> <a class="text-primary" href="http://{{host}}/site/transaction/{{transaction.transaction_id}}">{{transaction.amount}} - {{transaction.type}} at {{transaction.timestamp}}</a>

    {% endfor %}
</ul>
  <a href="{% url 'main:index' %}" class="btn btn-primary">Go Back</a>
  <br><br><br>
<form action="{% url 'main:delete_transactions' %}" method="post">
<span class="btn btn-danger" onclick="WarningPopup()" value="">Delete transaction history</span>
<div class="modal" id="popUp">
{% csrf_token %}
  <span class="modal-content"  id="myPopup">
  <h1 class="text"><u>Warning</u> ⚠</h1>
  <h2 class="text">Are you sure that you want to change your delete your transaction history ?</h2>
  <h4 class="text"> <b>THIS ACTION IS IRREVERSIBLE</b> </h4>
  <br>
  <input type="submit" value="Yes, Change it" name="submit" class="btn btn-primary shadow-lg">
  <br>
  <button onclick="cancel()" class="btn btn-success">No, Go Back</button> 

</form> 


{% elif no_t %}
<div class="alert alert-danger">{{no_t}}</div>

{% endif %}


<a href="{% url 'main:index' %}" class="btn btn-primary">Go Back</a>

{% endblock body %} 