{% load static %}
<!DOCTYPE html>
<html lang="en" class="has-background-primary-light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="{% static 'index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/IamEinstein/Djank/gh-pages/sources/bank-icon.jpg" type="image/x-icon">
    <style>
      body {
        padding: 5%;
        transition-duration: 3s;
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body class="bg-light">
    {% block body %}{% endblock body %}
  </body>
</html>
