<!DOCTYPE html>
<html lang="en" class="has-background-primary-light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!!!!⚠</title>
           <link
             rel="stylesheet"
             href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
             integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
             crossorigin="anonymous"
           />
       <link rel="shortcut icon" type="image/x-icon" href="https://twemoji.maxcdn.com/2/svg/26a0.svg">
       <style>
       body{
         padding:5%;
         background-image: url("https://cdn.discordapp.com/attachments/783676631738482728/822398858293149746/ERROR.png");
          background-size: 100% 100%;
          {% comment %} background-position: center; {% endcomment %}
          background-repeat: no-repeat;
          background-size: cover;
       }

       </style>
         
</head>
<body class="p-6 has-background-primary-light">
<br><br><br><br><br><br><br><br><br><br>
<div class="alert alert-danger" role="alert">


{% if error %}
<h3>{{error}}</h3>{% endif %}
<h3>Redirecting you to home page...</h3>

</div>
<h1><a class="btn btn-dark" href="{% url 'main:index'%}">Go to main page</a>
</h1>
<br><br>
</body>
<script>
url =window.location.origin 
setTimeout(function(){window.location.replace(`${url}/site/index`)},2300)
</script>



</html>