<script>
document.addEventListener("DOMContentLoaded", () => {
  
      var link1 =document.getElementById("link1")
      window.open(link1.innerHTML, '_blank');
  var link2 =document.getElementById("link2")
      window.open(link2.innerHTML, '_blank');
  var link3 =document.getElementById("link3")
      window.open(link3.innerHTML, '_blank');
      var link4 =document.getElementById("link4")
      window.open(link4.innerHTML, '_blank');
      var link5 =document.getElementById("link5")
      window.open(link5.innerHTML, '_blank');
      var link6 =document.getElementById("link6")
      window.open(link6.innerHTML, '_blank');
      var link7 =document.getElementById("link7")
      window.open(link7.innerHTML, '_blank');
var link8 =document.getElementById("link8")
      window.open(link8.innerHTML, '_blank');
      var link9 =document.getElementById("link9")
      window.open(link9.innerHTML, '_blank');
      var link10 =document.getElementById("link10")
      window.open(link10.innerHTML, '_blank');

})
function clear_q_string(){
    var uri = window.location.toString();
    if (uri.indexOf("?") > 0) {
      var clean_uri = uri.substring(0, uri.indexOf("?"));
      window.history.replaceState({}, document.title, clean_uri);
    }
}
</script>
<h1>Donwloading files</h1>
<div style="display:none;">
{% for link in links %}
<p id="link{{forloop.counter}}">{{link}}</p>
{% endfor %}
</div>